@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

// Eric Meyer’s “Reset CSS” 2.0

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: #f7f7f7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// end of css reset

$main-brown: #b88b58;
$font: 'Montserrat', sans-serif;


.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.hero {
    height: 850px;
    width: 100%;
    position: relative;
    .carousel {
        height: 850px;
        position: relative;
        top: 0;
        .item1 {
            height: 850px;
            background-repeat: no-repeat;
            background-image: url(../images/hero/hero-bg1.png);
            background-size: cover;  
        }
        .item2 {
            height: 850px;
            background-image: url(../images/hero/hero-bg2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .item3 {
            height: 850px;
            background-image: url(../images/hero/hero-bg3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slick-dots {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 50px;
            left: 0;
            right: 0;
            .slick-active {
                background-color: $main-brown;
                border-radius: 50%;
            }
            li {
                margin-left: 10px;
                width: 16px;
                height: 16px;
                &:nth-child(1) {
                    margin-left: 0;
                }
                button {
                    width: 16px;
                    height: 16px;
                    border: 2px solid $main-brown;
                    border-radius: 50%;
                    background: transparent;
                    color: transparent;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 3;
        height: 100px;
        background-color: #000;
        .navbar-container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            max-width: 1110px;
            height: 100px;
            .logo {
                img {
                    margin-top: 50%;
                }
            }
            .navbar-list {
                line-height: 100px;
                & > li {
                    display: inline-block;
                    text-transform: uppercase;
                    text-align: center;
                    transition: .4s;
                    &:hover {
                        border-bottom: 3px solid $main-brown;
                    }
                    &:hover > a {
                        color: $main-brown;
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-family: $font;
                        font-weight: 700;
                        font-size: 14px;
                        padding: 0 10px;
                        transition: .4s;
                    }
                }
            }
            .menu-icon {
                text-decoration: none;
                line-height: 100px;
                margin-right: 80px;
                font-size: 48px;
                color: $main-brown;
                display: none;
                cursor: pointer;
            }
            .toggle-menu {

            }
        }
    }

    .hero-content {
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero-content-main-text {
            font-family: $font;
            font-size: 72px;
            font-weight: 700;
            line-height: 69px;
            text-transform: uppercase;
            text-align: center;
            user-select: none;
            h1 {
                color: #fff;
            }
            .text-brown {
                color: $main-brown;
            }
        }
        .hero-content-number {
            color: #fff;
            font-family: $font;
            font-size: 24px;
            font-weight: 600;
            line-height: 18px;
            text-transform: uppercase;
            padding-top: 30px;
        }
        .hero-content-btn {
            height: 50px;
            width: 200px;
            background-color: $main-brown;
            border-radius: 50px;
            border: none;
            color: #fff;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            margin-top: 50px;
            cursor: pointer;
        }
    }
    &::after {
        content: '';
        position: absolute;
        height: 65px;
        width: 65px;
        background-color: $main-brown;
        background-image: url(../images/hero/hero-telephone.png);
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: 50% 50%;
        bottom: -30px;
        right: 85px;
        cursor: pointer;
    }
}

.about-us {
    min-height: 530px;
    display: flex;
    flex-direction: column;
    .about-us-header {
        font-family: $font;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        padding: 50px 0;
        .about-us-header-main {
            color: #000000;
            font-size: 30px;
        }
        .about-us-header-side {
            color: #aeaeae;
            font-size: 14px;
        }
    }
    .about-us-content {
        display: flex;
        flex-wrap: wrap;
        font-family: $font;
        .about-us-content-text {
            color: #242424;
            font-size: 14px;
            font-weight: 600;
            line-height: 25px;
            width: 50%;
            margin: 0 auto;
            .about-us-content-btn {
            width: 200px;
            height: 50px;
            background-color: $main-brown;
            color: #fff;
            border-radius: 50px;
            border: none;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            margin-top: 35px;
            cursor: pointer;
            }
        }
        .about-us-content-video {
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.services {
    min-height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    .services-header {
        font-family: $font;
        text-transform: uppercase;
        font-weight: 600;
        margin: 50px 0 40px 0;
        line-height: 30px;
        .services-header-main {
            color: #ffffff;
            font-size: 30px;
        }
        .services-header-side {
            color: #aeaeae;
            font-size: 14px;
        }
    }
    .services-content {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        & [class^='item'] {
            display: grid;
            grid-template-rows: 100px 1fr 1fr;
            grid-template-areas: 
            "pic"
            "main-text"
            "side-text";
            height: 210px;
            color: #fff;
            font-family: $font;
            text-transform: uppercase;
            border-left: 1px solid rgba(#bebebe, .5);
            &:nth-child(4) {
                border-right: 1px solid rgba(#bebebe, .5);
            }
            img {
                grid-area: "pic";
                justify-self: center;
                align-self: center;
            }
            h2 {
                grid-area: "main-text";
                font-size: 18px;
                font-weight: 600;
                justify-self: center;
                align-self: top;
                line-height: 18px;
            }
            span {
                grid-area: "side-text";
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                padding: 2px;
            }
        }
    }
}

.our-projects {
    min-height: 950px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .our-projects-header {
            font-family: $font;
            line-height: 30px;
            text-transform: uppercase;
        .our-projects-header-text-main {
            color: #000000;
            font-size: 30px;
            font-weight: 700;
        }
        .our-projects-header-text-side {
            color: #aeaeae;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .our-projects-list {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            max-width: 150px;
            width: 100%;
            height: 60px;
            text-align: center;
            border: 1px solid #cfcfcf;
            background-color: #ededed;
            color: #000;
            font-family: $font;
            font-size: 14px;
            font-weight: 600;
            line-height: 60px;
            text-transform: uppercase;
            border-left: none;
            cursor: pointer;
            transition: 0.4s;
            &:nth-child(1) {
                border-radius: 50px 0 0 50px ;
                border-left: 1px solid #cfcfcf;
            }
            &:nth-child(6) {
                border-radius: 0 50px 50px 0;
            }
            &:hover {
                border-bottom-color: $main-brown;
                border-bottom-width: 4px;
            }
        }
    }
    .our-projects-gallery {
        display: grid;
        min-height: 555px;
        grid-template-rows: repeat(auto-fit, minmax(165px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
        justify-content: center;
        grid-gap: 30px;
        margin: 40px 0;
        & [class^='pic'] {
            height: 165px;
            width: 255px;
            justify-self: center;
            position: relative;
            .cover {
                background-color: rgba(#000, 0.65);
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .4s;
            }
            &:hover > .cover {
                position: absolute;
                opacity: 1;
            }
            .cover-text {
                height: 100%;
                width: 200px;
                margin: 0 auto;
                position: absolute;
                opacity: 0;
                transition: .4s;
                top: 25%;
                left: 0;
                right: 0;
                color: #fff;
                font-family: $font;
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 21px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 21px;
                }
            }
            &:hover > .cover-text {
                opacity: 1;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .pic1 {
            background-image: url(../images/projects/projects-img1.png);
            background-repeat: no-repeat;
        }
        .pic2 {
            background-image: url(../images/projects/projects-img2.png);
            background-repeat: no-repeat;
        }
        .pic3 {
            background-image: url(../images/projects/projects-img3.png);
            background-repeat: no-repeat;
        }
        .pic4 {
            background-image: url(../images/projects/projects-img4.png);
            background-repeat: no-repeat;
        }
        .pic5 {
            background-image: url(../images/projects/projects-img5.png);
            background-repeat: no-repeat;
        }
        .pic6 {
            background-image: url(../images/projects/projects-img6.png);
            background-repeat: no-repeat;
        }
        .pic7 {
            background-image: url(../images/projects/projects-img7.png);
            background-repeat: no-repeat;
        }
        .pic8 {
            background-image: url(../images/projects/projects-img8.png);
            background-repeat: no-repeat;
        }
        .pic9 {
            background-image: url(../images/projects/projects-img9.png);
            background-repeat: no-repeat;
        }
        .pic10 {
            background-image: url(../images/projects/projects-img10.png);
            background-repeat: no-repeat;
        }
        .pic11 {
            background-image: url(../images/projects/projects-img11.png);
            background-repeat: no-repeat;
        }
        .pic12 {
            background-image: url(../images/projects/projects-img12.png);
            background-repeat: no-repeat;
        }
    }
    .our-projects-btn {
        width: 200px;
        height: 50px;
        background-color: $main-brown;
        border-radius: 50px;
        color: #fff;
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }
}

.our-team {
    background-image: url(../images/team/team-bg-image.png);
    min-height: 700px;
    .our-team-header {
        font-family: $font;
        text-transform: uppercase;
        line-height: 30px;
        text-align: center;
        h2 {
            padding-top: 60px;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
        }
        span {
            color: #aeaeae;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .our-team-content {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .our-team-profile {
            display: grid;
            grid-template-areas: 
            "pic"
            "text"
            "social";
            grid-template-rows: 60% 15% 25%;
            width: 350px;
            height: 430px;
            background-color: #fff;
            border-radius: 4px;
            margin: 2px;
            .profile-pic {
                grid-area: "pic";
                margin: 0 auto;
                align-self: center;
            }
            .our-team-profile-text {
                grid-area: "text";
                color: #242424;
                font-family: $font;
                text-align: center;
                justify-self: center;
                align-self: center;
                h2 {
                    font-size: 21px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 21px;
                }
                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            .our-team-profile-social {
                grid-area: "social";
                color: #fff;
                justify-self: center;
                align-self: center;
                text-align: center;
                .fab, .fas {
                    width: 32px;
                    height: 32px;
                    background-color: #bebebe;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 32px;
                    margin-left: 2px;
                    transition: .4s;
                    &:hover {
                        background-color: $main-brown;
                        cursor: pointer;
                    }
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.clients {
    min-height: 820px;
    .clients-header {
        padding-top: 60px;
        font-family: $font;
        text-transform: uppercase;
        text-align: center;
        h2 {
            font-size: 30px;
            color: #000;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        span {
            color: #aeaeae;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .clients-content {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .clients-profile-picture {
            margin-bottom: 30px;
        }
        h2 {
            color: #000000;
            font-family: $font;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 15px;
        }
        h3 {
            color: #000000;
            font-family: $font;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 30px;
        }
        .clients-quotes {
            margin-bottom: 20px;
        }
        p {
            max-width: 730px;
            width: 100%;
            text-align: center;
            color: #7e7e7e;
            font-family: $font;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
            margin-bottom: 100px;
        }
    }
    .clients-brands {
        display: flex;
        justify-content: space-around;
        border-top: 2px solid rgba(#cfcfcf, .6);
        border-bottom: 2px solid rgba(#cfcfcf, .6);
        height: 160px;
        background-color: #fff;
        img {
            object-fit: contain;
        }
    }
}

.pricing {
    min-height: 560px;
    background-color: #ededed;
    .pricing-header {
        padding-top: 60px;
        font-family: $font;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        h2 {
            font-size: 30px;
            color: #000000;
            font-weight: 700;
        }
        span {
            color: #aeaeae;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .pricing-content {
        text-align: center;        
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        .pricing-option {
            width: 255px;
            height: 340px;
            background-color: #ffffff;
            border-radius: 4px;
            font-family: $font;
            transition: .4s;
            margin: 0 2px;
            &:hover {
                transform: translateY(-3px);
                box-shadow: 2px 2px 8px rgba(#000, .5);
                cursor: pointer;
            }
            .pricing-option-type {
                padding-top: 30px;
                color: #242424;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            .pricing-option-price {
                color: #242424;
                font-size: 30px;
                font-weight: 700;
                line-height: 21px;
                text-transform: uppercase;
            }
            h3 {
                padding-top: 5px;
                color: #aeaeae;
                font-size: 10px;
                font-weight: 400;
                line-height: 25px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
            .pricing-option-specs {
                padding-top: 15px;
                color: #7e7e7e;
                font-size: 10px;
                font-weight: 600;
                line-height: 13px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                span {
                    height: 25px;
                    position: relative;
                    &::after {
                        content: '—';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                    }
                }
                .last-span {
                    &::after {
                        content: '';
                    }
                }
            }
            .pricing-option-btn {
                margin-top: 10px;
                color: #fff;
                width: 130px;
                height: 45px;
                background-color: #373737;
                border-radius: 50px;
                border: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                transition: .4s;
                &:hover {
                    background-color: $main-brown;
                    cursor: pointer;
                }
            }
        }
    }
}

.premium {
    min-height: 756px;
    background-color: #fff;
    .premium-header {
        padding-top: 65px;
        font-family: $font;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        h2 {
            font-size: 30px;
            color: #000000;
        }
        span {
            color: #aeaeae;
            font-size: 14px;
        }
    }
    .premium-content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#bebebe, .5);
        padding: 50px 0;
        .premium-content-picture {
            background-image: url(../images/premium/boxes.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 445px;
            height: 378px;
        }
        .premium-content-text {
            width: 50%;
            font-family: $font;
            h3 {
                color: #242424;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 21px;
                padding-top: 25px;
                position: relative;
                &::before {
                    content: '';
                    background-image: url(../images/premium/tick.png);
                    width: 34px;
                    height: 30px;
                    position: absolute;
                    left: -55px;
                }
            }
            .premium-content-text-feature-list {
                display: flex;
                flex-direction: column;
                span {
                    color: #5b5b5b;
                    font-weight: 400;
                    line-height: 30px;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
            p {
                color: #5b5b5b;
                font-weight: 400;
                line-height: 30px;
                font-size: 14px;

            }
        }
    }
    .premium-btn {
        display: block;
        width: 200px;
        height: 45px;
        border-radius: 50px;
        background-color: $main-brown;
        color: #fff;
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        border: none;
        margin: 0 auto;
        margin-top: 50px;
        cursor: pointer;
    }
}

.facts {
    min-height: 420px;
    background-color: #000;
    .facts-header {
        padding-top: 60px;
        font-family: $font;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        h2 {
            font-size: 30px;
            color: #fff;
            font-weight: 700;
        }
        span {
            color: #aeaeae;
            font-weight: 600;
            font-size: 14px;
        }
    }
    .facts-content {
        padding-top: 50px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        .facts-content-item {
            display: grid;
            grid-template-areas:
            "number"
            "main-text"
            "side-text";
            grid-template-rows: 80px 50px 50px;
            font-family: $font;
            width: 200px;
            height: 150px;
            &:hover > h1 {
                transform: scale(1.2);
            }
            h1 {
                grid-area: "number";
                color: $main-brown;
                font-weight: 700;
                font-size: 48px;
                position: relative;
                height: 80px;
                transition: .4s;
                &::after {
                    content: '—';
                    position: absolute;
                    top: 55%;
                    left: 0;
                    right: 0;
                    color: #7e7e7e;
                    font-size: 30px;
                }
            }
            h3 {
                grid-area: "main-text";
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: #fff;
            }
            p {
                grid-area: "side-text";
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                align-self: end;
            }
        }
    }
}
.social-bar {
    min-height: 75px;
    background-color: #fff;
    .social-bar-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 75px;
        .social-bar-content-text {
            display: flex;
            align-items: center;
            i {
                color: #bebebe;
                font-size: 24px;
            }
            h2 {
                color: #aeaeae;
                font-family: $font;
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
                margin-left: 20px;
            }
        }
        .social-bar-content-icons {
            display: flex;
            span {
                color: #aeaeae;
                font-family: $font;
                font-size: 10px;
                font-weight: 700;
                line-height: 25px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                margin-left: 3px;
            }
            .fab {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                color: #fff;
                line-height: 32px;
                text-align: center;
                cursor: pointer;
                margin-left: 50px;
                transition: .4s;
                &:hover {
                    transform: scale(1.2);
                }
            }
            .fa-twitter {
                background-color: #34c5f0;
            }
            .fa-linkedin-in {
                background-color: #127cb4;
            }
            .fa-facebook-f {
                background-color: #336297;
            }
            .fa-google-plus-g {
                background-color: #e74237;
            }
            .fa-pinterest-p {
                background-color: #b71c29;
            }
        }
    }
}

.contact-us {
    min-height: 600px;
    .contact-us-header {
        padding-top: 60px;
        font-family: $font;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        h2 {
            color: #000000;
            font-size: 30px;
            font-weight: 700;
        }
        span {
            color: #aeaeae;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .contact-us-form {
        padding-top: 60px;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        input {
            width: 100%;
            color: #9e9e9e;
            font-family: $font;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            border: none;
            border-bottom: 2px solid #a4a4a4;
            background-color: #f7f7f7;
            padding: 10px;
            &:focus {
                outline: none;
                border: 2px solid $main-brown;
            }
        }
        .text-fields {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            input {
                width: 280px;
            }
        }
        .message-fields {
            input {
                margin: 20px 0;
            }
        }
    }
    .contact-us-btn {
        width: 200px;
        height: 45px;
        border-radius: 50px;
        border: none;
        color: #fff;
        background-color: $main-brown;
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        margin: 50px auto 0 auto;
        display: block;
        &:hover {
            cursor: pointer;
        }
    }
}

#map {
    min-height: 420px;
    filter: grayscale(100%);
}

.map {
    position: relative;
    min-height: 420px;
    .map-address-box {
        padding-left: 60px;
        width: 33%;
        height: 340px;
        background-color: #fff;
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 4px;
        &:hover i {
            background-color: $main-brown;
        }
        &:hover span {
            color: $main-brown;
        }
        i {
            width: 35px;
            height: 35px;
            background-color: #aeaeae;
            border-radius: 50%;
            line-height: 35px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            vertical-align: middle;
            transition: .4s;
        }
        span {
            vertical-align: middle;
            padding-left: 15px;
            color: #7e7e7e;
            font-family: $font;
            font-size: 12px;
            font-weight: 600;
            line-height: 24px;
            transition: .4s;
        }
    }
}

.footer {
    background-color: #000;
    min-height: 264px;
    color: #7e7e7e;
    border-top: 1px solid #cfcfcf;
    position: relative;
    &::before {
        content: '';
        width: 64px;
        height: 64px;
        box-shadow: 0 3px 8px rgba(0, 0, 1, 0.24);
        background-color: #b88b58;
        position: absolute;
        border-radius: 50%;
        top: -32px;
        left: 100px;
        background-image: url(../images/scrollup.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    footer {
        min-height: 264px;
        font-family: $font;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-social {
            max-width: 350px;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 5px;
            .footer-social-icons {
                display: flex;
                .fab, .fas {
                    width: 32px;
                    height: 32px;
                    color: #fff;
                    background-color: #373737;
                    border-radius: 50%;
                    line-height: 32px;
                    text-align: center;
                    margin-left: 5px;
                    transition: .4s;
                    cursor: pointer;
                    &:hover {
                        background-color: $main-brown;
                    }
                }
            }
            span {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
            }
        }
        .footer-text {
            max-width: 350px;
            width: 100%;
            height: 200px;
            margin: 0 5px;
            p {
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 500;
                line-height: 21px;
                text-align: justify;
            }
        }
        .footer-subscribe {
            max-width: 350px;
            width: 100%;
            height: 200px;
            background-color: #373737;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 5px;
            .footer-email {
                width: 220px;
                margin: 0 auto;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #aeaeae;
                background-color: #373737;
                text-align: center;
                padding: 10px;
                color: #9e9e9e;
                font-family: $font;
                font-size: 13px;
                font-weight: 600;
                line-height: 25px;
                outline: none;
            }
            .footer-subscribe-btn {
                width: 200px;
                height: 45px;
                background-color: $main-brown;
                border-radius: 50px;
                border: none;
                color: #fff;
                font-family: $font;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1444px) {
    .map .map-address-box {
        padding: 0 40px;
        width: 33%;
    }
}

@media screen and (max-width: 1024px) {
    .hero .hero-content {
        padding-top: 25%;
    }
    .hero .navbar .navbar-container {
        .logo {
            margin-left: 100px;
        }
        .menu-icon {
            display: block;
        }
        .navbar-list > li {
            display: block;
            height: 100px;
            width: 50%;
            float: left;
            &:nth-child(9) {
                width: 100%;
            }
        }
        .navbar-list > li a {
            font-size: 22px;
        }

        .navbar-list {
            display: none;
            width: 100%;
            height: 500px;
            background-color: rgba(0,0,0,.8);
        }
        .toggle-menu {
            display: block;
        }
    }
    .footer footer .footer-text {
        margin: 0 10px;
        overflow-y: scroll;
    }  
}


@media screen and (max-width: 768px) {
    .hero .hero-content {
        padding-top: 35%;
    }
    .about-us .about-us-content .about-us-content-text {
        color: #242424;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        width: 80%;
        margin: 0 auto;
        .about-us-content-btn {
            display: block;
            margin: 35px auto;
        }
    }
    .premium .premium-content .premium-content-text h3::before {
        left: -38px;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        .hero-content {
            padding-top: 55%;
            .hero-content-main-text {
                font-size: 2.8rem;
                h1 {
                    font-size: 2.8rem;
                    width: 220px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        .navbar .navbar-container {
            .navbar-list {
                top: 100px;
                position: absolute;
                height: 358px;
            }
            .navbar-list > li {
                height: 70px;
                width: 50%;
            }
        }
    } 
    
    .about-us .about-us-content .about-us-content-video img {
        width: 100%;
    }
    
    .services .services-content {
        flex-wrap: wrap;
    }
    .services .services-content [class^='item'] {
        border: none;
        border-top: 1px solid rgba(190, 190, 190, 0.5);
        &:nth-child(4) {
            border-right: none;
        }
        &:nth-child(1) {
            border-top: none;
        }
    }

    .our-projects .our-projects-list li {
        padding: 0 3px;
    }
    
    .our-team .our-team-content {
        padding: 40px;
        justify-content: space-evenly;
    }
    
    .clients .clients-brands {
        flex-wrap: wrap;
    }
    
    .pricing .pricing-content {
        flex-wrap: wrap;
        padding: 50px;
        .pricing-option {
            margin: 5px auto;
        }
    }

    .premium {
        min-height: 956px;
        height: 100%;
        .premium-content {
            flex-wrap: wrap;
            .premium-content-text {
                width: 66%;
                margin: 0 auto;
                font-family: "Montserrat", sans-serif;
                h3::before {
                    left: -55px;
                }
            }
            .premium-content-picture {
                width: 100%;
            }
        }
        .premium-btn {
            margin: 50px auto;
        }
    }
    
    .facts {
        .facts-content {
            flex-wrap: wrap;
            height: 500px;
        }
    }

    .social-bar .social-bar-content {
        .social-bar-content-icons {
            flex-wrap: wrap;
            justify-content: center;
        }
        .social-bar-content-text {
            margin-left: 10px;
        }
    }

    .contact-us {
        .contact-us-form .text-fields {
            margin: 20px 0;
            flex-wrap: wrap;
            input {
                width: 100%;
                margin: 20px 0;
            }
        }
        .contact-us-btn {
            margin: 50px auto;
        }
    }

    .map .map-address-box {
        padding: 30px;
        min-height: 350px;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        position: relative;
    }

    .footer footer {
        flex-wrap: wrap-reverse;
        justify-content: center;
        .footer-social {
            margin: 50px 5px;
        }
        .footer-text {
            margin: 20px 10px 0 10px;
            height: 100%;
        }
        .footer-subscribe {
            margin: 50px 5px 5px 0;
        }
    }
}
